<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="{{ 'hanger-shirt.png' | asset_url }}" type="image/png">
    <script src="{{ 'drawer.js' | asset_url }}" defer="defer"></script>
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ 'background.css' | asset_url | stylesheet_tag }}
    {{ content_for_header }}
  </head>
  <body>
    {% section 'header' %}
    {{ content_for_layout }}

    {% section 'footer' %}
  </body>
</html>
