<header class="header">
  <div>
    <div class="header__items">
      <form action="/search" method="get" class="search-form">
        <input
          type="search"
          name="q"
          placeholder="Search for products..."
          class="search-nav"
          id="search-input"
        >
      </form>
      <div class="header_drawer-menu">
        {% render 'header-drawer' %}
        <span class="search-icon">
          {{- 'search-icon.svg' | inline_asset_content -}}
        </span>
      </div>

      <h1 class="header_name">{{ section.settings.custom_shop_name | default: shop.name }}</h1>
      <div class="header_cart">
        <a class="header_cart-cont" href="/cart">
          {% if section.settings.cart_logo %}
            <img
              height="30"
              width="30"
              loading="lazy"
              src="{{ section.settings.cart_logo | image_url }}"
              alt="Cart"
            >
          {% else %}
            <img
              height="30"
              width="30"
              loading="lazy"
              src="{{ 'cart.svg' | asset_url }}"
              alt="Cart"
            >
          {% endif %}

          {% if cart.item_count > 0 %}
            <span class="cart-item-count">{{ cart.item_count }}</span>
          {% endif %}
        </a>
      </div>
    </div>
    <ul class="header__links">
      {% for link in linklists['main-menu'].links %}
        <li class="header__links">{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
  </div>
</header>

{% render 'header-drawer-links' %}
<style>
  .header {
    padding: 20px;
    background: {{ section.settings.bg }};
    justify-content: {{ section.settings.header_alignment }};
  }
  .header_name{
    color: {{ section.settings.text_color }} ;
  }
</style>
<script>
  document.getElementById('search-input').addEventListener('input', function () {
    if (this.value.trim() !== '') {
      document.querySelector('.search-form').submit();
    }
  });
</script>
{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "color",
      "id": "bg",
      "label": "Background color"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color"
    },
    {
      "type": "text",
      "id": "custom_shop_name",
      "label": "Custom shop name",
      "default": "My Shopify Store"
    },
    {
      "type": "image_picker",
      "id": "cart_logo",
      "label": "Cart logo"
    },

    {
      "type": "select",
      "id": "header_alignment",
      "label": "Header alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ]
}
{% endschema %}
