<h1>{{ article.title }}</h1>
<p>Автор: {{ article.author }}</p>
<p>Опубліковано: {{ article.published_at | date: '%B %d, %Y' }}</p>
<div>{{ article.content }}</div>

{% if article.comments_enabled? %}
  <h2>Leave comment</h2>
{% endif %}

{% for comment in article.comments %}
  <div class="">
    <h3>{{ comment.author }}</h3>
    <p>{{ comment.email }}</p>
    <p>{{ comment.content }}</p>
  </div>
{% endfor %}
<div class="comment_form">
  {% form 'new_comment', article %}
    {{ form.errors | default_errors }}

    <div class="name">
      <label for="name">Name</label>
      <input id="name" type="text" name="comment[author]" value="{{ form.author }}">
    </div>

    <div class="email">
      <label for="email">Email</label>
      <input type="email" name="comment[email]" value="{{ form.email }}">
    </div>

    <div class="comment">
      <label for="comment">Comment</label>
      <textarea name="comment[body]">{{ form.body }}</textarea>
    </div>

    <div class="submit">
      <input id="submit" type="submit" value="Post">
    </div>
  {% endform %}
</div>

<style>
  .comment_form {
    width: max-content;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const submitBtn = document.getElementById('submit');
    const labelName = document.getElementById('name');
    submitBtn.onclick = (event) => {
      if (labelName.value.trim() === '') {
        event.preventDefault();
      }
    };
  });
</script>
