<section class="collection_container">
  {% paginate collection.products by 8 %}
    <div class="collection_container-select">
      <h1 class="collection_container-title">
        {{ collection.title }}
      </h1>
      <div class="collection-sort">
        <p>Sort by:</p>
        <div class="select-container">
          <select class="collection_select" id="sort-by">
            {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

            {% for option in collection.sort_options %}
              <option
                value="{{ option.value }}"
                {% if option.value == sort_by %}
                  selected="selected"
                {% endif %}
              >
                {{ option.name }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <span> {{ collection.all_products_count }} products </span>
    </div>
    <div class="collection__wrapper">
      {% for product in collection.products %}
        <a class="card__link" href="{{ product.url }}">
          {% render 'product-card', product: product %}
        </a>
      {% endfor %}
    </div>
    <div class="custom-pagination">
      <ul class="custom-pagination-wrapper">
        {% if paginate.previous %}
          <li class="custom-pagination-previous">
            <a href="{{ paginate.previous.url }}">
              <img
                class="custom-pagination-arrow-previous"
                width="17px"
                height="14px"
                src="{{ 'right-arrow.png' | asset_url }}"
                alt="Test Image"
            ></a>
          </li>
        {% endif %}

        {% for part in paginate.parts %}
          {% if part.is_link %}
            <li>
              <a class="custom-pagination-url" href="{{ part.url }}">{{ part.title }}</a>
            </li>
          {% else %}
            <li class="active">{{ part.title }}</li>
          {% endif %}
        {% endfor %}

        {% if paginate.next %}
          <li class="custom-pagination-next">
            <a href="{{ paginate.next.url }}">
              <img
                class="custom-pagination-arrow-next"
                width="17px"
                height="14px"
                src="{{ 'right-arrow.png' | asset_url }}"
                alt="Test Image"
              >
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endpaginate %}
</section>

<script>
  Shopify.queryParams = {};

  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  document.querySelector('#sort-by').addEventListener('change', function (e) {
    var value = e.target.value;

    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>
